{% extends 'layout/base.twig' %}
{% import 'macros/helpers.twig' as helpers %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
<h3>{{ title }}</h3>

{% if runs|length or has_search %}
    <div class="searchbar clearfix">
        <button type="btn" class="del-all pull-right btn btn-danger btn-small" style="margin-left:12px;">批量删除</button>

        <a href="#" class="pull-right btn btn-small search-expand" title="Show search form">
            <i class="icon-search"></i> 搜索
        </a>

        <form action="{{ path_for('home') }}" method="get" class="row hide search-form form-inline">
            <a href="#" class="search-collapse close" title="Hide search form">&times;</a>
            <div class="control-group span4">
                <label class="control-label" for="start_date">时间范围</label>
                <div class="controls">
                    <input type="text" data-date-format="yyyy-mm-dd" id="date_start" name="date_start" class="datepicker span2" value="{{ search.date_start }}">
                    <input type="text" id="date_end" data-date-format="yyyy-mm-dd" name="date_end" class="datepicker span2" value="{{ search.date_end }}">
                </div>
            </div>
            <div class="control-group span4">
                <label class="control-label" for="url">请求地址</label>
                <div class="controls">
                    <input type="text" id="url" name="url" value="{{ search.url }}">
                    <input type="hidden" name="sort" value="{{ paging.sort }}">
                </div>
            </div>
            <div class="form-actions">
                <button type="submit" class="btn btn-primary">搜索</button>
            </div>
        </form>
    </div>
    <script>
    $(function(){
        // 删除按钮
        $(".del").click(function(){
            del($(this).attr('data-id'))
        })

        // 全选
        $("#all-checkbox").click(function(){
            $("input[name='ids']").prop('checked', $(this).find("input")[0].checked)  
        })

        // 点击全选删除按钮
        $(".del-all").click(function(){
            var inputs = $("input[name='ids']:checked");
            if (!inputs || inputs.length == 0) {
                return layer.msg("请先选择", {icon: 5});
            }
            var ids = [];
            for(var i = 0; i < inputs.length;i++) {
                ids.push($(inputs[i]).attr('data-id'));
            }

            del(ids.join(','))
        })

        // 删除
        function del(id){

            //询问框
            layer.confirm('确定删除所选？', {
                icon: 5
            }, function(){
                layer.msg('删除中', {
                    icon: 5
                });
                $.get('/run/del?id=' + id, function(res){
                    res =  JSON.parse(res)
                    layer.msg(res.massage || '成功', {icon: 6})
                    if (res.code != 1) {
                        return false;
                    }
                    setTimeout(function () {
                        window.location.href = window.location.href
                    }, 1200)
                })
            }, function(){
                layer.msg('取消成功', {
                    icon: 5
                });
            });
        }
    })
</script>
{% endif %}

{# No run data, and no search, must be just getting started #}
{% if not runs|length and not has_search %}
    <div class="hero-unit">
        <h3>没有分析数据</h3>
        <p>你需要收集一些分析数据才能开始使用Xhprof - APM</p>
    </div>
{% endif %}

{% if runs|length or has_search %}
    {% include 'runs/paginated-list.twig' %}
{% endif %}

{% if runs|length %}
    {{ helpers.pagination('home', paging, search) }}
{% endif %}

{% endblock %}
