{# Template fragment for outputting a list of runs #}
{% import 'macros/helpers.twig' as helpers %}
<div class="row-fluid">
    <table class="table table-hover">
        <thead>
            <tr>
                {% if show_compare_link %}
                <th>&nbsp;</th>
                {% endif %}
                <th>
                    <div class="checkbox">
                    <label id="all-checkbox">
                        全选<input name="ids-all" type="checkbox">
                    </label>
                </div>
                </th>
                <th>
                    方法
                </th>
                <th>请求地址</th>
                <th>
                    {{ helpers.sort_link('请求时间', base_url, 'time', paging, search) }}
                </th>
                <th class="right">
                    <span class="tip" title="执行时间">
                        {{ helpers.sort_link('执行时间', base_url, 'wt', paging, search) }}
                    </span>
                </th>
                <th class="right">
                    <span class="tip" title="CPU时间">
                        {{ helpers.sort_link('CPU时间', base_url, 'cpu', paging, search) }}
                    </span>
                </th>
                <th class="right">
                    <span class="tip" title="内存占用">
                        {{ helpers.sort_link('内存占用', base_url, 'mu', paging, search) }}
                    </span>
                </th>
                <th class="right">
                    <span class="tip" title="内存峰值">
                        {{ helpers.sort_link('内存峰值', base_url, 'pmu', paging, search) }}
                    </span>
                </th>
                <th class="right">
                    <span class="tip" title="操作">
                        操作
                    </span>
                </th>
            </tr>
        </thead>
        <tbody>
        {% for result in runs %}
        <tr>
            {% if show_compare_link %}
            <td>
                <a class="btn btn-small" href="{{ path_for('run.compare', {}, {base: base_run.id|trim, head: result.id|trim}) }}">
                    对比
                </a>
            </td>
            {% endif %}
            <td>
                <div class="checkbox">
                    <label>
                        <input name="ids" type="checkbox" data-id={{result.id}}>
                        <span title={{ result.id }}>{{ result.id }}</span>
                    </label>
                </div>
            </td>
            <td>
                <a href="{{ path_for('run.view', {}, {'id': result.id|trim }) }}">
                    {{ result.meta('SERVER.REQUEST_METHOD') }} {{ result.meta.method }}
                    {% if result.data('debug') %} / DEBUG{% endif %}
                </a>
            </td>
            <td>
                {% set addr = result.meta.url %}
                {% set url = {'id': result.id|trim } %}
                {% if addr is empty %}
                    {% set addr = '脚本执行' %}
                    {% if result.meta.method == 'cli' %}
                        {% set addr = [result.meta.server.PWD , result.meta.server.argv|join(' ')] | join('/') %}
                    {% endif %}
                {% endif %}
                {{ helpers.tip_link(
                    addr,
                    50,
                    'run.view',
                    url
                ) }}
                &nbsp;<i class="icon-file icon-copy btn-copy" data-title="{{ addr }}"></i>
            </td>
            <td>
              <a href="{{ path_for('run.view', {}, {'id': result.id|trim }) }}">
                {{ result.meta('request_date')|date(date_format) }}
              </a>
            </td>
            <td class="right">{{ attribute(result.profile, 'main()').wt |as_time }}</td>
            <td class="right">{{ attribute(result.profile, 'main()').cpu |as_time }}</td>
            <td class="right">{{ attribute(result.profile, 'main()').mu |as_bytes }}</td>
            <td class="right">{{ attribute(result.profile, 'main()').pmu |as_bytes }}</td>
            <td class="right">
                <button class="del btn btn-primary" data-id={{result.id}}>删除</button>
            </td>
        </tr>
        {% else %}
        <tr>
            <td colspan="6" class="no-results">
                你的搜索条件没有匹配的结果，改变搜索条件试试。
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
