<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="content-language" content="zh-CN" />
    <title>{% block title '' %} - Xhprof_APM</title>
    <link href="{{ base_url() }}/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="{{ base_url() }}/css/datepicker.css" rel="stylesheet" media="screen">
    <link href="{{ base_url() }}/css/xhgui.css" rel="stylesheet" media="screen">
    {% block head '' %}
</head>
<body>
    <div class="navbar navbar-static-top">
        <div class="navbar-inner">
            <div class="container-fluid">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <a class="brand" href="{{ path_for('home') }}">Xhprof</a>
                <div class="nav-collapse collapse">
                    <ul class="nav">
                        <li><a href="{{ path_for('home') }}">最近运行</a></li>
                        <li><a href="{{ path_for('home', {}, {'sort': 'wt'}) }}">执行时间</a></li>
                        <li><a href="{{ path_for('home', {}, {'sort': 'cpu'}) }}">CPU时间</a></li>
                        <li><a href="{{ path_for('home', {}, {'sort': 'mu'}) }}">内存使用</a></li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </div>
    </div>

    <div class="container-fluid">
        {% if flash.success %}
            <div class="flash alert alert-success">
                {{ flash.success }}
            </div>
        {% endif %}

        {% block content '' %}

        <hr>

        <footer class="row-fluid footer-text">
            <span class="span4">1000 ms = 1 second</span>
        </footer>
    </div>

    <script src="{{ base_url() }}/js/jquery.js"></script>
    <script src="{{ base_url() }}/js/bootstrap.min.js"></script>
    <script src="{{ base_url() }}/js/bootstrap-tooltip.js"></script>
    <script src="{{ base_url() }}/js/bootstrap-datepicker.js"></script>
    <script src="{{ base_url() }}/js/d3.js"></script>
    <script src="{{ base_url() }}/js/jquery.tablesorter.js"></script>
    <script src="{{ base_url() }}/js/jquery.stickytableheaders.js"></script>
    <script src="{{ base_url() }}/js/xhgui-charts.js"></script>
    <script src="{{ base_url() }}/js/xhgui.js"></script>

    {% block jsfoot '' %}
</body>
</html>
